<ion-content>
  <div class="splash_div_jasp" style="background-color: #fff !important">
    <ion-grid class="container">
      <ion-row style="height: 235px" *ngIf="!isWeb"></ion-row>
      <ion-row class="splash_row">
        <ion-col>
          <!-- {{this.imglink}} -->
          <img src="assets/images/svg/icon.png" class="splash_img" />
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="splash_footer_div">
      <!-- <img src="assets/images/Splash_2.png" style="max-width: 100%;">
      <div class="circle-ripple"></div> -->
      <div class="ripple"></div>
    </div>
  </div>
</ion-content>
